@use "./mixin" as m;

#root {
  section.menu {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
      margin-bottom: 60px;
    }
    form.theme {
      legend {
        margin-bottom: 10px;
        font-weight: 800;
        font-size: 0.8em;
        text-align: center;
      }
      div {
        display: flex;
        width: 180px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid #eee;
        overflow: hidden;
        box-shadow: -2px -2px 10px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
        input {
          display: none;
          &:checked + label {
            opacity: 1;
          }
          &:checked + label::before {
            display: inline-block;
          }
        } //input
        label {
          flex: 1;
          position: relative;
          cursor: pointer;
          opacity: 0.3;
          &:hover {
            opacity: 1;
          }
          @include m.icon(before, "\f00c");
          &[for="radio1"] {
            background: #e0dcdc;
          }
          &[for="radio2"] {
            background: #f3abcd;
          }
          &[for="radio3"] {
            background: #a1ccf5;
          }
          &::before {
            display: none;
            @include m.posLT(absolute, 50%, 50%, -50%, -50%);
            color: #fff;
          }
        } //label
      } //div
    } //form.theme
    nav {
      margin-top: 20px;
      font-weight: 500;
      // font-size: 1.5em;
      text-transform: uppercase;
      a {
        display: block;
        padding: 7px 20px;
        margin: 20px 0;
        box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        border-radius: 10px;
        &:hover {
          text-shadow: -2px -2px 1px rgba(255, 255, 255, 1), 3px 3px 1px rgba(0, 0, 0, 0.1);
        }
        &:active {
          box-shadow: -2px -2px 5px rgba(0, 0, 0, .2), 3px 3px 5px rgba(255, 255, 255, 1);
        }
        i{
          margin-right: 10px;
          font-size: 1.3em;
        }
      }
    }
  } //menu
}//root


